<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>
<body>

<h2>Four Equal Columns</h2>

<div class="row">
  <div class="column" style="background-color:#aaa;">
        
  {% if page.foto1 %}
   <img src="{{page.foto1 | relative_url}}" alt="Foto1">
  {% endif %}
  
  <div class="post-content">
    {{ content }}
  </div>
     
  </div>
  <div class="column" style="background-color:#bbb;">
    {% if page.foto2 %}
   <img src="{{page.foto2 | relative_url}}" alt="Foto2">
  {% endif %}
  
  <div class="post-content">
    {{ content }}
  </div>
  </div>
  <div class="column" style="background-color:#ccc;">
     {% if page.foto3 %}
   <img src="{{page.foto3 | relative_url}}" alt="Foto3">
  {% endif %}
  
  <div class="post-content">
    {{ content }}
  </div>
  </div>
  <div class="column" style="background-color:#ddd;">
     {% if page.foto4 %}
   <img src="{{page.foto4 | relative_url}}" alt="Foto4">
  {% endif %}
  
  <div class="post-content">
    {{ content }}
  </div>
  </div>
</div>

</body>
</html>
